* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

.main {
    overflow: hidden;
}

/* Banner */

.banner {
    position: relative;
    margin-top: 113px;
    background-color: #000;
}

.banner-img {
    max-width: 1180px;
    margin: 0px 100px;
    text-align: center;
}

.banner-img__asus {
    max-width: 60%;
    max-height: 600px;
    min-height: 155px;
}

/* Content */
.content {
    margin-bottom: 36px;
}

.app-content {
    padding-top: 45px;
}

.img-banner {
    width: 100%;
    max-height: 430px;
    border-radius: 4px;
}

    .img-banner:hover {
        opacity: 0.8;
    }

.product-title {
    margin: 0px 8px;
    background-color: #ccc /*#e60000*/;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    border-bottom: 2px solid #e60000;
}

.title-gaming {
    padding: 8px;
    text-align: center;
    min-width: 240px;
}

.home-product {
    margin: 0px 8px 10px 8px;
}

.home-product__item {
    background-color: #fff;
    position: relative;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 10px;
    display: block;
}

    .home-product__item:hover {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }

.home-product__item--img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 100%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

    .home-product__item--img:hover {
        opacity: 0.5;
    }

.home-product__item--title {
    color: #000;
    font-size: 1.4rem;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

    .home-product__item--title:hover {
        color: #e60000;
    }

.home-product__item--rateAndguarantee {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.home-product__item--guarantee-detail {
    color: #000;
    font-size: 1.2rem;
}

.home-product__item--price {
    display: flex;
    flex-wrap: wrap;
}

.home-product__item--price-old {
    color: #ccc;
    font-size: 1.6rem;
    width: 100%;
    text-decoration: line-through;
    font-weight: 500;
}

.home-product__item--price-current {
    background-color: #e60000;
    color: #fff;
    border-radius: 20px;
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
}

    .home-product__item--price-current:hover {
        padding: 4px;
        font-weight: bold;
    }

.home-product__item--bonus {
    border: 1px solid #e60000;
    border-radius: 2px;
    background-color: #eee;
    margin-top: 5px;
}

.bonus-detail {
    color: #e60000;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}

    .bonus-detail:hover {
        background-color: #fff;
    }

.home-product__item-elements {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 65px;
}

.home-product__item-details {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0px 4px;
}

.detail {
    font-size: 1.1rem;
    margin-left: 5px;
    color: #000;
    opacity: 0.4;
}

.home-product__item--addCart {
    background-color: #e60000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    margin-top: 16px;
}

.infor-addCart__icon--link {
    text-align: center;
}

.addCart-icon {
    font-size: 1.2rem;
    color: #fff;
    display: block;
    padding: 8px;
}

.addCart-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 8px;
    color: #fff;
}

.home-product__item--addCart:hover {
    background-color: #fff;
    border: 1px solid #000;
}

    .home-product__item--addCart:hover .addCart-icon,
    .home-product__item--addCart:hover .addCart-title {
        color: #e60000;
    }

@media (max-width:739px) {
    .home-product__item--addCart {
        width: 90%;
        margin-left: 10px;
    }
}
